<div class="m-3">
<h1><%= @restaurant.name %></h1>

<div id="restaurants" >
  <%= render @restaurant %>
</div>

<div>
  <h2>Reviews</h2>
  <ul>
 <% @reviews.each do |review| %>
  <li>
    <%= review.content %>
    <%= review.rating %>
 </li>
    <% end  %>
  </ul>


<h3>New review</h3>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
</div>

<%= link_to "🔙 Back", restaurants_path %>

</div>
